.barContainer {
    height: 100px;
    width: 700px;
}

.buttonContainer {
    height: 100px;
    justify-content: space-around;
}

.timeBar {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 10px;
}

.basicButton {
    padding-bottom: 10px;
    top: 0;
}
